@import
url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #c20000;
    transition: all 0.3s ease-in-out;
}

header {
    background-color: #862929;
    color: #16074d;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(66, 48, 48, 0.3);
}
